includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
  level: 6
  paths:
    - includes
    - riseup-asia-uploader.php
  scanDirectories:
    - includes
  bootstrapFiles:
    - phpstan-bootstrap.php
  treatPhpDocTypesAsCertain: false
